@charset "UTF-8";

/*
Custom CSS Styling
*/

:root,

[data-bs-theme=light] {
--bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
--bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
--bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
--bs-body-font-family: var(--bs-font-sans-serif);
--bs-body-font-size: 1rem;
--bs-body-font-weight: 400;
--bs-body-line-height: 1.5;
--bs-body-color: #2f3c4f;
--bs-body-color-rgb: 33, 37, 41;
--bs-body-bg: #f5f5f5;
--bs-body-bg-rgb: 255, 255, 255;
--bs-emphasis-color: #01ecd5;
--bs-emphasis-color-rgb: 1, 236, 213;

}















.body-color { 
	color: #2f3c4f; 
}
	
.color-two { 
	color: #506f86; 
}

.color-three { 
	color: #fbb040; 
}

.color-four { 
	color: #de703c; 
}

.color-background { 
	color: #f5f5f5; 
}
	
.color-six { 
	color: #01ecd5; 
}

.color-seven { 
	color: #4586ff; 
}

.color-eight { 
	color: #32424a; 
}


body {
    font-family: "Noto Sans", --sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #506F86;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-align: none;
}
